nav {
  display: flex;
  justify-content: space-around;
  gap : 16px;
  color :white;
}

#logo-game {
  width: 50px;
  height: 50px;
}

.navbar{
  background-color: rgba(22,33,91,80%);
  background: linear-gradient(to left, rgba(22, 33, 91,.8), rgba(22, 33, 91,1));

}

.navigation-links {
  display: flex;
  gap: 16px;
  align-self:center;
}