* {
  font-family: 'Baloo';
  --bg-image: url("/wallpaperHome.jpg") no-repeat center center fixed;
  
}

nav {
  display: flex;
  justify-content: space-between;
  gap : 16px;
  color :white;
  padding: 25px 50px 10px 50px;
}

#logo-game {
  max-width: 50px;
  max-height: 50px;
}

.navbar{
  background: linear-gradient(to left, rgba(22, 33, 91,.8), rgba(22, 33, 91,1));
  border-bottom : 5px solid;
  border-image:linear-gradient(to right, rgb(40, 50, 137), rgb(101, 206, 250)) 1;
}

body { /* to change with the home div */
    background:var(--bg-image);
    background-size: cover;
    margin : 0;
}

.navigation-links {
  display: flex;
  gap: 16px;
  align-self:center;
}

.home-login-content {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  gap: 50px;
}

.login-game {
  margin-top: 70px;
  border: 5px solid white;
  border-radius: 10px;
}

.login-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-description-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(224, 234, 248, 0.5);
  margin-top: 290px;
  border-radius: 85px;
  padding: 30px;
  /* max-width: 691px;
  min-width: 50px; */
  width: 75%;
  /* height: 50%; */
  overflow: hidden;
 
}


.welcome-description, #intra-login-button{
  /* font-weight: 400px; */
  font-size: 110%;
  display: flex;
  align-items: center;
}

.welcome-description{
  line-height: 38px;
  text-align: center;
}

#intra-login-button{
  background: #E0EAF8;
  border-radius: 33px;
  border: 0;
  padding: 12px 50px;
  cursor: pointer;
  margin-top: 50px;
}

a:link { text-decoration: none; }

#intra-login-button:hover{
  background-color: #65688180;
}


/* profile css */

.profile-page {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  grid-template-rows: repeat(auto-fit,minmax(500px,1fr));
  align-items: center ;
}

.profile-container {
    padding : 10px;
    border-radius: 81px;
    background-color:  #787CA980 ;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows:repeat(5,  1fr);
    justify-items: center;
    align-items: center;
}

.profile-info {
    height: 800px;
    width: 557px;
    justify-self: center;
  }

.profile-friend {
  Width :1000px;
  Height : 831px;
  justify-self: center;
}

.profile-label {
    
    padding: 10px;
    border-radius: 15px;

    background: #D9D9D9;
    text-align: center;
    font-size: large;
}



.profile-label.phone-number{
    grid-column: 1/3;
    grid-row: 4/5;
    justify-self: stretch;
}
.profile-label.date-of-birth{
  grid-column: 1/3;
  grid-row: 5/6;
  justify-self: stretch;
}